* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.navbar{
    display: grid;
    grid-template-columns: 30px 50px 100px 3fr 25px 25px 25px 25px;
    grid-template-rows: 50px;
    list-style: none;
    align-items: center;
    margin: 0 5px 0 5px;
 }
.navbar div:nth-child(1) i{
    color: red;  
    margin-left: 10px;
}

.navbar > div:not(:nth-child(2)):hover {
    background-color: #EFEFEF;
    border-radius: 30px;
    padding: 5px;
    border: 1px solid #eeee;
  }

  /*.navbar .search2:hover {
      padding: 0 1px;
      background: red;
  }
*/
  /*
.navbar > div:not(:nth-child(4)):hover {
    background-color: #EFEFEF;
    border-radius: 50px;
    padding: 10px;
    border: 1px solid #eeee;
  }*/

  /*.pinterest-logo, .following, .search2, .bell, .comment, .profile-name, .drop-down:hover{
    background-color: red;
    border-radius: 50px;
    border: 1px solid #eeee;
  }*/

.navbar div:nth-child(2) a{
    border-radius: 25px;
    color: white;
    text-align: center;
    font-size: small;
    background-color:black;
    padding: 5px;
    margin-left: 10px;
 }

.navbar div:nth-child(3) a{
    color: #767676;
    font-size: small;
    font-weight: bold;
    margin-left: 20px;
}

.search2{
    position: relative;
    max-width: 1000px;
    width: 100%;
    height: 30px;
    padding-left: 30px;
    background-color: #EFEFEF;
    border: none;
    border-radius: 15px;
    outline: none;
 }
 

.search1{
    z-index: 1;
    position: absolute;
    padding-left: 10px;
    margin-top: 8px;
    font-size: small;
}

.navbar div:nth-child(4){
    color: #767676;
}

.navbar div:nth-child(5) i{
    color: #767676;
}

.navbar div:nth-child(6) i{
    color: #767676;
}

.navbar div:nth-child(7) a{
    color: #767676;
    font-size: small;
}

.navbar div:nth-child(8) i{
    color: #767676;
}

.container{
    
    display: grid;
    ;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 50px));
    grid-template-areas: 
            "a b c d e"
}

.slide1{
    grid-area: a;
}
.slide2{
    grid-area: b;
}

.slide3{
    grid-area: c;
}

.slide4{
    grid-area: d;
}

.slide5{
    grid-area: e;
}

.slide6{
    grid-area: f;
}
img {
object-fit: cover;
border-radius: 25px;
margin-top: 20px;
margin-left: 30px;
}